<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/ui/h-ui/css/H-ui.min.css}" href="ui/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/ui/h-ui.admin/css/H-ui.admin.css}" href="ui/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" th:href="@{/ui/h-ui.admin/skin/default/skin.css}" href="ui/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/ui/h-ui.admin/css/style.css}" href="ui/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户管理</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		用户中心 <span class="c-gray en">&gt;</span>订单列表 <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="Hui-iconfont">&#xe68f;</i>
		</a>

	</nav>
	<div class="page-container">

			<div class="mt-20 dataTables_wrapper" style="width: 1600px;height: 700px" id="main">
			</div>
	</div>
		<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/ui/h-ui/js/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/ui/h-ui.admin/js/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/lib/laydate/laydate.js}"></script>
	<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
	<script type="text/javascript" th:src="@{/echarts/echarts.min.js}"></script>
	<!--/_footer 作为公共模版分离出去-->
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" th:inline="javascript">
// 	alert(${page})
// 	$.each(${page},function(){
// 		alert(${page.delivery_num})
		
// 	});





		
			var chartSeriesData=[]
			var chartSeriesDetailData=[]
			var chartSeriesNumData=[]
			$(function() {
				var url="/coreorder/reportFormList";
				$.ajax({
					type:'get',
					async:false,
					url:url,
					success:function(resp){
						//result=resp;
						//console.info(resp)
						chartSeriesData=resp.map(function(v,i){
// 							return {name:v.kplanAgentName,value:v.deliveryNum}
							return v.name
						});
// 						chartSeriesNumData=resp.map(function(v,i){
// // 							return {name:v.kplanAgentName,value:v.deliveryNum}
// 							return v.lNum
// 						});
						
						chartSeriesDetailData=resp.map(function(v,i){
// 							return {name:v.kplanAgentName,value:v.deliveryNum}
							return   { name: v.name, type: 'line',  stack: '总量', data: v.lNum }
								//[120, 132, 101, 134, 90, 230, 210]
						});
						
						
					}
				});
				console.info(chartSeriesDetailData)
				console.info(chartSeriesNumData)
				console.info(chartSeriesData)
// 				{
					
// 					"系统手工单浙江03":[4,5,6],
// 					"四川-二级01":[1,2,3]
					
// 				}
				//chartSeriesData= ["系统手工单浙江03", "四川-二级01", "贵阳-南明二级01", "南岸广阳岛合作厅", "系统手工单上海", "系统手工单浙江03", "贵阳-南明二级01", "四川-二级01", "系统手工单广东", "系统手工单上海"]
// 				chartSeriesData=['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎','搜索引擎2', '搜索引擎3', '搜索引擎4', '搜索引擎5', '搜索引擎6']
				echarts.init($('#main')[0]).setOption({
			    title: {
			        text: '折线图堆叠'
			    },
			   
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:chartSeriesData
			        	
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: chartSeriesDetailData
	});
				
				
				
// 				 echarts.init($('#main')[0]).setOption({
// 			            series: {
// 			                type: 'pie',
// 			                data: chartSeriesData
// 			            }
// 			        });
			});
			
		
			

	</script>
</body>
</html>