<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="3 seconds" debug="false">  
	<!--======================================= 本地变量 ======================================== -->
	<!--在没有定义${LOG_HOME}系统变量的时候，可以设置此本地变量。提交测试、上线时，要将其注释掉，使用系统变量。 -->
	<!-- <property name="LOG_HOME" value="D:/data/logs" /> -->

	<property name="LOG_MAX_FILE_SIZE" value="50MB" />
	<!--日志文件保留天数 -->
	<property name="LOG_MAX_HISTORY" value="30" />
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<!--应用日志文件保存路径 -->
	<property name="LOG_HOME" value="logs/%d{yyyy-MM-dd}" />

	<!--=========================== 按照每天生成日志文件：默认配置=================================== -->
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{50} [%line] - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件：主项目日志 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/membership-web.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
			<maxHistory>${LOG_MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{500} [%line] - %msg%n</pattern>
		</encoder>
	</appender>
	<!--=============================== 日志输出: 默认主业务日志 ====================================== -->
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
		<logger name="org.springframework.orm">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
