<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	th:href="@{/ui/h-ui/css/H-ui.min.css}" href="ui/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/ui/h-ui.admin/css/H-ui.admin.css}"
	href="ui/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"
	href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/ui/h-ui.admin/skin/default/skin.css}"
	href="ui/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css"
	th:href="@{/ui/h-ui.admin/css/style.css}"
	href="ui/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户管理</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		用户中心 <span class="c-gray en">&gt;</span> 店铺管理 <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="Hui-iconfont">&#xe68f;</i>
		</a>

	</nav>
	<div class="page-container">
		<form action="" th:action="@{/shopInfo/list}" method="get"
			autocomplete="off">
			<div class="text">
				创建时间： <input type="text" id="datemin" class="input-text date"
					style="width: 120px;"> - <input type="text" id="datemax"
					class="input-text date" style="width: 120px;"> 
					会员卡余额： <input type="text" name="minAmountTotal" data-th-value="${query.minAmountTotal}" class="input-text"
					style="width: 120px;"> - <input type="text" name="maxAmountTotal" data-th-value="${query.maxAmountTotal}"
					class="input-text" style="width: 120px;"> 
					
					账户余额： <input type="text" id="datemin" class="input-text"
					style="width: 120px;"> - <input type="text" id="datemax"
					class="input-text" style="width: 120px;"> 
					
					交易总金额： <input type="text" name="minConsumptionTotal" data-th-value="${query.minConsumptionTotal}"class="input-text"
					style="width: 120px;"> - <input type="text" name="maxConsumptionTotal" data-th-value="${query.maxConsumptionTotal}"
					class="input-text" style="width: 120px;"> 
					
					
					返点总收入： <input type="text" id="datemin" class="input-text"
					style="width: 120px;"> - <input type="text" id="datemax"
					class="input-text" style="width: 120px;"> 
					
					<input
					type="text" class="input-text" style="width: 250px"
					placeholder="输入机号、店铺名称、所属商家" id="" name="">
					
					
					
				<button type="submit" class="btn btn-success radius" id="" name="">
					<i class="Hui-iconfont">&#xe665;</i> 查询
				</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">  <a href="javascript:;" onclick="add('添加店铺','edit','900','620')"
					class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
						添加</a>
				</span> 
			</div>
			<div class="mt-20">
				<table
					class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th><input type="checkbox" name="" value=""></th>
							<th>店铺名称</th>
							<th>店铺地址</th>
							<th>所属行业</th>
							<th>所属商家</th>
							
							<th>账户余额</th>
							<th>会员数</th>
							<th>会员卡余额</th>
							<th>交易总金额</th>
							<th>返点总收入</th>
							<th>提现次数</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" th:each="item:${page}">
							<td><input type="checkbox" value="1" name="" th:value="${item.id}"></td>
							<td><a style="text-decoration: underline" class="text-primary"
								th:onClick="show([[${item.shopName}]],'show?id=[[${item.id}]]','','620')"
								th:text="${item.shopName}">店铺名称</a></td>
							<td class="text-l" th:text="${item.shopAddress}">店铺地址</td>
							<td th:text="${item.categoryInfo?.name}">所属行业</td>
							<td th:text="${item.shopOwnerInfo.basicUserInfo.userRealName}">所属商家</td>
							<td th:text="${'-'}">账户余额</td>
							<td th:text="${item.memberInfoTotal}">会员数</td>
							<td th:text="${item.amountTotal}">会员卡余额</td>
							<td th:text="${item.consumptionTotal}">交易总金额</td>
							<td th:text="${'-'}">返点总收入</td>
							<td th:text="${item.withDrawNum}">提现次数</td>
							<td class="td-manage">
<!-- 							<a style="text-decoration: none" -->
<!-- 								onClick="|member_stop(this,'${item.id}')|" href="javascript:;" -->
<!-- 								title="停用"> <i class="Hui-iconfont">&#xe631;</i> -->
<!-- 							</a>  -->
							<a title="编辑" href="javascript:;"
								th:onclick="|edit('编辑','edit?id=${item.id}','4','','620')|"
								onclick="edit('编辑','edit','4','','510')" class="ml-5"
								style="text-decoration: none">编辑</a>
<!-- 								<a style="text-decoration: none" class="ml-5" -->
<!-- 								onClick="change_password('修改密码','change-password.html','10001','600','270')" -->
<!-- 								href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a> -->
<!-- 								<a title="删除" href="javascript:;" onclick="member_del(this,'1')" -->
<!-- 								class="ml-5" style="text-decoration: none"><i -->
<!-- 									class="Hui-iconfont">&#xe6e2;</i></a> -->
									</td>

						</tr>
						
					</tbody>
				</table>
				<div id="pagination_div"
					th:include="fragments/page :: pagination(${page})"></div>
			</div>
		</form>
	</div>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/ui/h-ui/js/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/ui/h-ui.admin/js/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/lib/laydate/laydate.js}"></script>
	<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
	<script type="text/javascript" th:src="@{/lib/js/web-global.js}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			lay('.date').each(function(){
				  laydate.render({
				    elem: this
				    ,trigger: 'click'
				  });
				});

		});
		/*用户-添加*/
		function add(title, url, w, h) {
			layer_show(title, url, w, h);
		}
		/*用户-查看*/
		function show(title, url, w, h) {

			layer_show(title, url, w, h);
		}
		function edit(title, url, id, w, h) {
			layer_show(title, url, w, h);
		}
		/*用户-停用*/
		function member_stop(obj, id) {
			layer
					.confirm(
							'确认要停用吗？',
							function(index) {
								$
										.ajax({
											type : 'POST',
											url : '',
											dataType : 'json',
											success : function(data) {
												$(obj)
														.parents("tr")
														.find(".td-manage")
														.prepend(
																'<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
												$(obj)
														.parents("tr")
														.find(".td-status")
														.html(
																'<span class="label label-defaunt radius">已停用</span>');
												$(obj).remove();
												layer.msg('已停用!', {
													icon : 5,
													time : 1000
												});
											},
											error : function(data) {
												console.log(data.msg);
											},
										});
							});
		}

		/*用户-启用*/
		function member_start(obj, id) {
			layer
					.confirm(
							'确认要启用吗？',
							function(index) {
								$
										.ajax({
											type : 'POST',
											url : '',
											dataType : 'json',
											success : function(data) {
												$(obj)
														.parents("tr")
														.find(".td-manage")
														.prepend(
																'<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
												$(obj)
														.parents("tr")
														.find(".td-status")
														.html(
																'<span class="label label-success radius">已启用</span>');
												$(obj).remove();
												layer.msg('已启用!', {
													icon : 6,
													time : 1000
												});
											},
											error : function(data) {
												console.log(data.msg);
											},
										});
							});
		}
		/*用户-编辑*/
		function member_edit(title, url, id, w, h) {
			layer_show(title, url, w, h);
		}
		/*密码-修改*/
		function change_password(title, url, id, w, h) {
			layer_show(title, url, w, h);
		}
		/*用户-删除*/
		function member_del(obj, id) {
			layer.confirm('确认要删除吗？', function(index) {
				$.ajax({
					type : 'POST',
					url : '',
					dataType : 'json',
					success : function(data) {
						$(obj).parents("tr").remove();
						layer.msg('已删除!', {
							icon : 1,
							time : 1000
						});
					},
					error : function(data) {
						console.log(data.msg);
					},
				});
			});
		}
		/*]]>*/
	</script>
</body>
</html>