<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="ui/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="ui/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="ui/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="ui/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>K计划移网业务管理平台</title>
</head>
<body>
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> K计划业务管理平台  
			<span class="logo navbar-slogan f-l mr-25 hidden-xs"> K计划移网业务管理平台 v3.1</span> 
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<!--ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onclick="article_add('添加资讯','article-add.html')"><i class="Hui-iconfont">&#xe616;</i> 资讯</a></li>
							<li><a href="javascript:;" onclick="picture_add('添加资讯','picture-add.html')"><i class="Hui-iconfont">&#xe613;</i> 图片</a></li>
							<li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 产品</a></li>
							<li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
					</ul>
				</li>
			</ul-->
		</nav>
		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li>用户</li>
				<li class="dropDown dropDown_hover">
					<a href="#" class="dropDown_A">[[${basicUserInfo?.userRealName}]] <i class="Hui-iconfont">&#xe6d5;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
						<li><a href="javascript:;" onClick="changePwd()">修改密码</a></li>
						<li><a href="javascript:;" th:onClick="|window.location.href='@{/login/doLogout}'|">退出</a></li>
				</ul>
			</li>
				<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
				<!--li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
						<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
						<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
						<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
						<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
						<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
					</ul>
				</li-->
			</ul>
		</nav>
	</div>
</div>
</header>
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<!--dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">图片管理</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="product-brand.html" data-title="品牌管理" href="javascript:void(0)">品牌管理</a></li>
					<li><a data-href="product-category.html" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
					<li><a data-href="product-list.html" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="http://h-ui.duoshuo.com/admin/" data-title="评论列表" href="javascript:;">评论列表</a></li>
					<li><a data-href="feedback-list.html" data-title="意见反馈" href="javascript:void(0)">意见反馈</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="member-list.html" data-title="会员列表" href="javascript:;">会员列表</a></li>
					<li><a data-href="member-del.html" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
					<li><a data-href="member-level.html" data-title="等级管理" href="javascript:;">等级管理</a></li>
					<li><a data-href="member-scoreoperation.html" data-title="积分管理" href="javascript:;">积分管理</a></li>
					<li><a data-href="member-record-browse.html" data-title="浏览记录" href="javascript:void(0)">浏览记录</a></li>
					<li><a data-href="member-record-download.html" data-title="下载记录" href="javascript:void(0)">下载记录</a></li>
					<li><a data-href="member-record-share.html" data-title="分享记录" href="javascript:void(0)">分享记录</a></li>
			</ul>
		</dd>
	</dl-->
	
			<dl id="menu-member" th:if="${basicUserInfo?.jurisdiction==1 ||basicUserInfo?.jurisdiction==9}">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 四川移网业务<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li th:if="${basicUserInfo?.jurisdiction==9}"><a data-href="managerInfo/list" data-title="管理员列表" href="javascript:;">管理员列表</a></li>
					<li><a data-href="coreorder/list?sortName=createtime&sortOrder=desc" data-title="订单列表" href="javascript:;">移网订单查询</a></li>
					<li><a data-href="coreorder/secondarylist" data-title="回捞订单" href="javascript:;">回捞订单查询</a></li>
					<li><a data-href="coreorder/scorderlist" data-title="移网审单列表" href="javascript:;">移网审单查询</a></li>
					<li><a data-href="coreorder/city" data-title="区县编码查询" href="javascript:;">区县编码查询</a></li>
			</ul>
		</dd>
		</dl>
		
		<dl id="menu-member" th:if="${basicUserInfo?.jurisdiction==1 ||basicUserInfo?.jurisdiction==2||basicUserInfo?.jurisdiction==9}">
			<dt><i class="Hui-iconfont">&#xe60d;</i>号码管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="phone/list" data-title="联通号码" href="javascript:;">联通号码</a></li>
			</ul>
		</dd>
		</dl>
	<dl id="menu-admin" th:if="${basicUserInfo?.jurisdiction==1 ||basicUserInfo?.jurisdiction==9}">
			<dt><i class="Hui-iconfont">&#xe62d;</i>恶意订单<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<li><a data-href="malicious/list?sortName=prodate&sortOrder=desc" data-title="成都恶意订单" href="javascript:;">成都恶意订单</a></li>
				<li><a data-href="malicious/gzlist?sortName=prodate&sortOrder=desc" data-title="贵州恶意订单" href="javascript:;">贵州恶意订单</a></li>
				<li><a data-href="coreorder/maliciousList?sortName=tracktime&sortOrder=desc" data-title="重庆恶意订单" href="javascript:;">重庆恶意订单</a></li>
				<li><a data-href="malicious/qryMaliciTag?sortName=createtime&sortOrder=desc" data-title="回捞打标订单" href="javascript:;">回捞打标订单</a></li>
<!-- 				<li><a data-href="malicious/qryDataTag" data-title="激活数据查询" href="javascript:;">激活数据查询</a></li> -->
			</ul>
		</dd>
	</dl >
	<dl id="menu-admin" th:if="${basicUserInfo?.jurisdiction==2||basicUserInfo?.jurisdiction==9}">
			<dt><i class="Hui-iconfont">&#xe62d;</i>回访订单<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<li><a data-href="malicious/cdList?sortName=prodate&sortOrder=desc" data-title="订单回访" href="javascript:;">回访订单</a></li>
				</ul>
		</dd>
	</dl >
	<dl id="menu-admin" th:if="${basicUserInfo?.jurisdiction==3||basicUserInfo?.jurisdiction==9}">
		<dt><i class="Hui-iconfont">&#xe62d;</i>外部订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
			<li><a data-href="external/list" data-title="外部订单" href="javascript:;">外部订单</a></li>
			</ul>
		</dd>
	</dl >
		<dl id="menu-admin"  th:if="${basicUserInfo?.jurisdiction==1 ||basicUserInfo?.jurisdiction==9}">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 统计管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				<li><a data-href="channel/channellist" data-title="工号列表" href="javascript:;">工号列表</a></li>
				<li><a data-href="channel/list" data-title="工号处理量" href="javascript:;">工号处理量</a></li>
				<li><a data-href="channel/bankJoblist" data-title="金融工号管理" href="javascript:;">金融工号管理</a></li>
				<li><a data-href="order/KplanSecondaryStatustics" data-title="工号列表" href="javascript:;">回捞订单统计</a></li>
				<li><a data-href="order/VistiStatustics" data-title="工号列表" href="javascript:;">回访订单统计</a></li>
			</ul>
		</dd>
	</dl >
	
		<dl id="menu-tongji"  th:if="${basicUserInfo?.jurisdiction==1 ||basicUserInfo?.jurisdiction==9}">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统参数设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="coreorder/proDuctList" data-title="产品管理" href="javascript:;">产品管理</a></li>
					<li><a data-href="system/list" data-title="恶意标签管理" href="javascript:;">恶意标签管理</a></li>
					<li><a data-href="system/externalList" data-title="审单系统设置" href="javascript:;">审单系统设置</a></li>
					</ul>
					</dd>
					</dl>
	
<!-- 		<dl id="menu-tongji"> -->
<!-- 			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt> -->
<!-- 			<dd> -->
<!-- 				<ul> -->
<!-- 					<li><a data-href="coreorder/reportForm" data-title="工号处理量报表" href="javascript:void(0)">工号处理量报表</a></li> -->
<!-- 					<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li> -->
<!-- 					<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li> -->
<!-- 					<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li> -->
<!-- 					<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li> -->
<!-- 					<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li> -->
<!-- 					<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li> -->
<!-- 			</ul> -->
<!-- 		</dd> -->
<!-- 	</dl> -->
		<!--dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
					<li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
					<li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
					<li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
			</ul>
		</dd>
	</dl-->
</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="我的桌面" data-href="welcome.html">我的桌面</span>
					<em></em></li>
		</ul>
	</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="welcome.html"></iframe>
	</div>
</div>
</section>

<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
</ul>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="ui/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="ui/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
$(function(){
	/*$("#min_title_list li").contextMenu('Huiadminmenu', {
		bindings: {
			'closethis': function(t) {
				console.log(t);
				if(t.find("i")){
					t.find("i").trigger("click");
				}		
			},
			'closeall': function(t) {
				alert('Trigger was '+t.id+'\nAction was Email');
			},
		}
	});*/
});
/*个人信息*/
function myselfinfo(){
	var index = layer.open({
		type: 2,
		area: ['700px', '450px'],
		fixed: false, //不固定
		maxmin: true,
		title: '个人信息',
		content: '/login/detail',
		btn: ['关闭'] ,
		yes: function(index, layero){
		    //do something
		    layer.close(index); //如果设定了yes回调，需进行手工关闭
		 }
	});
}
/*修改密码*/
function changePwd(){
	//layer_show('修改密码','/login/changePwd','600','400');
	var index = layer.open({
		type: 2,
		area: ['600px', '300px'],
		fixed: false, //不固定
		maxmin: true,
		title: '修改密码',
		content: '/login/changePwd',
		btn: ['提交','关闭'] ,
		yes: function(index, layero){
			 var body = layer.getChildFrame('body', index);
             body.find('#submitBtn').trigger('click');//触发提交form
		    //layer.close(index); //如果设定了yes回调，需进行手工关闭
		 }
	});
}
/*资讯-添加*/
function article_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*产品-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}


</script> 


</body>
</html>